%nav.navbar.navbar-default
  .container-fluid
    .row
      .navbar-top
        .col-xs-12.text-right
          .language-flag
            %span.km
              = link_to apcmgu_language('cn') do
                =image_tag theme_asset_url('images/flags/cn.png')
            %span.en
              = link_to apcmgu_language('en') do
                =image_tag theme_asset_url('images/flags/en.png')

            %span.cn
              = link_to apcmgu_language('km') do
                =image_tag theme_asset_url('images/flags/km.png')
    .row
      .navbar-main-menu
        .navbar-header
          =link_to current_site.the_url, class: 'navbar-brand' do
            = image_tag current_site.the_logo, class: 'img-responsive img-logo'
          %span.association-name
            The Cambodian-Chinese Medical Association
          .space
          %button.navbar-toggle{"data-target": "#navbar-main", "data-toggle": "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          = raw apcmgu_get_nav_menu('main_menu', 'nav navbar-nav navbar-main navbar-right')
