.carousel.slide#home-slide-container{ data: { ride: 'carousel' } }
  %ol.carousel-indicators
    - slides = current_site.the_post_type('home-slider').the_posts
    - slides.visible_frontend.decorate.each_with_index do |slide, index|
      %li{ data: { target: '#home-slide-container', slide: { to: index } } }
  .carousel-inner{ role: 'listbox' }
    - slides.visible_frontend.decorate.each do |slide|
      - if slides.first == slide
        .item.active.slide-item
          = image_tag(slide.the_field('slide-image'))
          %span.slide-description= slide.the_field('description')
      - else
        .item.slide-item
          = image_tag(slide.the_field('slide-image'))
          %span.slide-description= slide.the_field('description')
  -# static
  -# .carousel-inner{ role: 'listbox' }
  -#   .item.active.slide-item
  -#     = image_tag theme_asset_url('images/slides/sl1.jpg')
  -#     %span.slide-description
  -#       Welcome to Asia Pacific Chinese Medical Global Union!
  -#   .item.slide-item
  -#     = image_tag theme_asset_url('images/slides/sl2.jpg')
  -#     %span.slide-description
  -#       Welcome to Asia Pacific Chinese Medical Global Union!
  -#   .item.slide-item
  -#     = image_tag theme_asset_url('images/slides/sl3.jpg')
  -#     %span.slide-description
  -#       Welcome to Asia Pacific Chinese Medical Global Union!

  = link_to '#home-slide-container', class: 'left carousel-control', role: 'button', data: { slide: 'prev' } do
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  = link_to '#home-slide-container', class: 'right carousel-control', role: 'button', data: { slide: 'next' } do
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next
