%section#about
  .container
    .row
      .col-xs-12
        .title.text-center
          %h3
            = apcmgu_translation('រចនាសម្ព័ន្ធរបស់សមាគមន៍', "Assocation's Structure", '協會結構')

    .tree
      %ul
        - about = current_site.the_post('about')
        %li
          = link_to "javascript:void(0)" do
            .profile
              = image_tag about.the_field('director-image')
            %h5.name
              = about.the_field('director-name')
            %p.position
              = about.the_field('director-title')
          // voice-director
          %ul
            %li
              .sub-director
                = link_to "javascript:void(0)" do
                  .profile
                    = image_tag(about.the_field('first-voice-director-image'))
                  %h5.name
                    = about.the_field('first-voice-director-name')
                  %p.position
                    = about.the_field('first-voice-director-title')
                = link_to "javascript:void(0)" do
                  .profile
                    = image_tag(about.the_field('second-voice-director-image'))
                  %h5.name
                    = about.the_field('second-voice-director-name')
                  %p.position
                    = about.the_field('second-voice-director-title')
                = link_to "javascript:void(0)" do
                  .profile
                    = image_tag(about.the_field('third-voice-director-image'))
                  %h5.name
                    = about.the_field('third-voice-director-name')
                  %p.position
                    = about.the_field('third-voice-director-title')
              // admin, financer, and the program preparing
              %ul
                %li
                  = link_to "javascript:void(0)" do
                    .profile
                      = image_tag(about.the_field('admin-image'))
                    %h5.name
                      = about.the_field('admin-name')
                    %p.position
                      = about.the_field('admin-title')
                %li
                  = link_to "javascript:void(0)" do
                    .profile
                      = image_tag(about.the_field('the-finance-image'))
                    %h5.name
                      = about.the_field('the-finance-name')
                    %p.position
                      = about.the_field('the-finance-title')
                %li
                  = link_to "javascript:void(0)" do
                    .profile
                      = image_tag(about.the_field('the-program-preparing-image'))
                    %h5.name
                      = about.the_field('the-program-preparing-name')
                    %p.position
                      = about.the_field('the-program-preparing-title')
