%section#contact{style: "background: url('#{theme_asset_url('images/Blur-Background-Background-Pictures-Dslr-Camera-Blur-Background.jpg')}') center center"}
  .container
    .row
      .col-xs-12.text-center
        %h3.title
          = @post.the_title
        %p.phone
          - if @post.get_fields('phone-number').any?
            = fa_icon 'phone'
            = @post.get_fields('phone-number').join(' / ')
        %p.email
          - if @post.get_field('email')
            = fa_icon 'envelope'
            = mail_to @post.get_field('email'), @post.get_field('email')
        %p.address
          = fa_icon 'map-marker'
          = @post.the_field('address')
      .col-xs-12
        .dot-border
    .row
      .col-xs-12.col-sm-6
        %iframe{ allowfullscreen: '', frameborder: '0', width: '100%', height: '350px', allowfullscreen: '', src: @post.the_field('embed-map-url')  }
      .col-xs-12.col-sm-6
        %h4
          We are happy to answer any questions you may have
        %form{ action: "https://formspree.io/#{@post.the_field('email')}", method: "post", id: 'form-contact' }
          .form-group
            %input.form-control{ name: 'name', type: 'text', placeholder: 'Name', id: 'name', required: true}
          .form-group
            %input.form-control{ name: 'phone', type: 'tel', placeholder: 'Phone', id: 'phone', value: '', required: true}
          .form-group
            %input.form-control{ name: 'email', type: 'email', type: 'email', placeholder: 'Email', id: 'email', required: true}
          .form-group
            %textarea.form-control{ name: 'message', type: 'text-area', placeholder: 'Message', id: 'message', rows: '5', text: 'Message', required: true}
          %button.btn.btn-default.send{ type: 'submit' } Send Message
      